name: CI (Build & Deploy)

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test:unit

#      - name: Run end-to-end tests
#        run: npm run test:e2e
  
      - name: Run build
        run: npm run build

      - name: Upload build output (for debugging only)
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
          retention-days: 3

  deploy:
    name: Deploy to Cloudflare Pages
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
            name: dist
            path: dist

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: cartograffy
          directory: dist
